@{
  Layout = "_Layout";
}

<h1 class="jumbotron">Welcome to Vendor and Order Tracker</h1>
<h4>Keep track of all your vendor accounts and the orders they make.</h4>
<a href="/vendor" class="btn">Go to Vendors</a>